.content-wrap {
    float: right;
    box-sizing: border-box;
    padding: 40px;
    width: 700px;
    background: #fff;
    min-height: 700px;
    margin-right: 10rem;
}

.posts-collapse {
    position: relative;
    z-index: 1010;
    margin-left: 55px;
    font-size: 14px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    /*display: block;*/
}
.posts-collapse .collection-title {
    position: relative;
    margin: 60px 0;
}

.posts-collapse .collection-title::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -4px;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    background: #bbb;
    border-radius: 50%;
}

.posts-collapse .collection-title::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -4px;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    background: #bbb;
    border-radius: 50%;
}
.posts-collapse .collection-title h2 {
    margin-left: 20px;
}
h2 {
    font-size: 20px;
}
h2, h3, h4, h5, h6 {
    margin: 20px 0 15px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Roboto Slab', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.posts-collapse .post {
    margin: 30px 0;
}
.posts-collapse .post-header {
    position: relative;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: border;
    border-bottom: 1px dashed #ccc;
}

.post-header {
    color: #666;
}
.posts-collapse .post-header::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 12px;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    background: #bbb;
    border-radius: 50%;
    border: 1px solid #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: background;
}
.posts-collapse .post-title {
    margin-left: 60px;
    font-size: 16px;
    font-weight: normal;
    line-height: inherit;
}
.post-header h1 {
    padding-top: 3px;
}
.blog h1 {
    margin: 0px 0 10px 60px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Roboto Slab', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.posts-collapse .post-title a {
    color: #666;
    border-bottom: none;
}
.post-header a, a:hover {
    color: #666;
    font-size: 15px;
    font-weight: normal;
    line-height: inherit;
    text-decoration: none;
}
.posts-collapse .post-meta {
    position: absolute;
    font-size: 12px;
    left: 20px;
    top: 5px;
}

.posts-collapse::after {
    content: " ";
    position: absolute;
    top: 20px;
    left: 0;
    margin-left: -2px;
    width: 4px;
    height: 100%;
    background: #f5f5f5;
    z-index: -1;
}
.my_hide{
    display: none;
}

#xuteng{
    width:100px;
    height:100px;
    background:red;
    position:relative;
    /*animation:myfirst 10s;*/
    -webkit-animation:myfirst 3s; /* Safari and Chrome */
    animation-direction:false;
}
@keyframes myfirst
{
    0%   {left:0px; top:0px;}
    25%  {left:50px; top:0px;}

}